version = "1.0"

[main]
name.en = "Nextcloud configuration"
name.fr = "Configuration de Nextcloud"

    [main.maintenance]
    name = "Maintenance"

        [main.maintenance.maintenance_mode]
        ask.en = "Enable maintenance mode"
        ask.fr = "Activer le mode maintenance"
        type = "boolean"
        default = false

    [main.permissions]
    name.en = "Permissions"
    name.fr = "Autorisations"

        [main.permissions.set_permissions_button]
        ask.en = "Reset permissions"
        ask.fr = "Redéfinir les autorisations"
        type = "button"
        style = "success"
        help.en = "This action sets permissions for all data. Beware, this action can take up to several hours if users have a lot of data."
        help.fr = "Cette action définit les autorisations pour toutes les données. Attention, cette action peut prendre jusqu'à plusieurs heures si les utilisateurs ont beaucoup de données."

    [main.version]
    name.en = "Upgrade channel"
    name.fr = "Canal de mise à jour"
    
        [main.version.version_to_follow]
        ask.en = "Upgrade channel to use"
        ask.fr = "Canal de mise à jour à utiliser"
        type = "select"
        choices.stable = "Stable channel: latest version"
        choices.oldstable = "Oldstable channel (recommended): previous major version, useful if you need high stability)"
        default = "stable"
        help.en = "Caution: changing this settings triggers an upgrade of your app. Stable releases (latest Nextcloud version available) sometimes contain annoying bugs or regressions. Using the oldstable channel (one version behind the latest) during this period can be useful if you need high stability."
        help.fr = "Attention: changer ce paramètres déclenche la mise à jour de l'app. Les versions stables (dernière version Nextcloud disponible) contiennent parfois des bugs ou des régressions gênants. Utiliser le canal oldstable (une version en retard sur la dernière) pendant cette période peut être utile si vous avez besoin d'une grande stabilité."

    [main.addressbook]
    name.en = "Address book configuration"
    name.fr = "Configuration du carnet d'adresses"

        [main.addressbook.system_addressbook_exposed]
        ask.en = "Enable address book"
        ask.fr = "Activer le carnet d’adresses"
        type = "boolean"
        help.en = "Should there be a system address book listing all users, accessible by all users?"
        help.fr = "Devrait-il y avoir un carnet d’adresses système répertoriant tous les utilisateurs, accessible par tous les utilisateurs ?"

    [main.notify_push]
    name.en = "Notify Push configuration"
    name.fr = "Configuration Notification Push"

        [main.notify_push.enable_notify_push]
        ask.en = "Enable Notify Push"
        ask.fr = "Activer la Notification Push"
        type = "boolean"
        help.en = "<a href=https://github.com/nextcloud/notify_push#about target=_blank>Notify Push</a> is a mechanism  allowing more instantaneous notifications and reduce server load."
        help.fr = "<a href=https://github.com/nextcloud/notify_push#about target=_blank>Notify Push</a> est un mécanisme qui permet d'avoir des notifications plus rapides et de réduire la charge du serveur."

    [main.forward_email]
    name.en = "Forward Email?"
    name.fr = "E-mails de transfert?"

        [main.forward_email.enable_forward_email]
        ask.en = "Set YunoHost user's forward email instead of YunoHost user's main email?"
        ask.fr = "Utiliser les e-mails de transfert des utilisateurs de YunoHost plutôt que les e-mails principaux ?"
        type = "boolean"
        help.en = "If all your users have set a forward email and aren't using YunoHost emails, you may choose to set their forward email as their Nextcloud email setting."
        help.fr = "Si tous vos utilisateurs ont paramétré un e-mail de transfert et n'utilise pas du tout les e-mails de leur compte YunoHost, vous pouvez paramétrer Nextcloud d'utiliser les e-mails de transfert."
